:root {
  font-size: var(--base-font-size);
}
:root {
  --base-font-size: calc(1920 / 120 * 1px);

  /* 布局变量*/
  --aside-left-width: calc(200 / 16 * 1rem);
  --aside-right-width: calc(240 / 16 * 1rem);
  --header-height: calc(64 / 16 * 1rem);
  --content-gap: calc(16 / 16 * 1rem);
  --content-padding: calc(16 / 16 * 1rem);

  /* 弹窗大小变量 */
  --dialog-width-base: 900;
  --dialog-height-base: 600;
  --dialog-width: 900;
  --dialog-height: 600;

  --date-panel-width: calc(320 / 16 * 1rem);
}

@media (min-width: 2040px) {
  :root {
    --base-font-size: calc(2040 / 120 * 1px);
  }
}

@media (max-width: 1440px) {
  :root {
    --base-font-size: calc(1440 / 120 * 1px);
  }
}

@media (max-width: 1280px) {
  :root {
    --base-font-size: calc(1280 / 120 * 1px);
  }
}

@media (max-width: 1024px) {
  :root {
    --base-font-size: calc(1024 / 120 * 1px);
  }
}
