@font-face {
                font-family: "Alibaba PuHuiTi-Regular"; font-style: normal; src: url('@/assets/fonts/Alibaba-PuHuiTi-Regular_1.ttf'); font-weight: 400
            }
@font-face {
                font-family: "Inter-Medium"; font-style: normal; src: url('@/assets/fonts/Inter-Medium_1.otf'); font-weight: 500
            }
@font-face {
                font-family: "Inter-Semi Bold"; font-style: normal; src: url('@/assets/fonts/Inter-SemiBold_1.otf'); font-weight: 600
            }